---
import {Content as CodeExampleContent} from '../content/code_example.md';
---

<section>
    <h2>Exemple de code</h2>
    <div class="content">
        <CodeExampleContent class="code" />
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content {
        margin-bottom: 2rem;
    }
</style>

