---
import {Content as IntroContent} from '../content/intro.md';
const base = import.meta.env.BASE_URL;
---
<section>
    <h1>Le Singleton</h1>
    <img src={`${base}/singleton-comic-1-en-1.5x.webp`} width="1400" />
    <div class="content">
        <IntroContent />
    </div>
</section>

<style>
    h1 {
        margin-bottom: 2rem;
    }
</style>
